# Exploratory Data Analysis

## Initial Settings

In [1]:
import sys
from pathlib import Path

# Ruta a la ra√≠z del proyecto
project_root = Path().resolve().parent
sys.path.append(str(project_root))

## Libraries and Dependencies

In [2]:
import src.utils as ut
import src.config as cf
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display

pd.options.display.max_columns = None

project path: C:\Users\Usuario\OneDrive\Documentos\Proyectos Personales\Data Science\Public Portfolio Data Science\241117 Telco Customer Churn
raw data path: C:\Users\Usuario\OneDrive\Documentos\Proyectos Personales\Data Science\Public Portfolio Data Science\241117 Telco Customer Churn\data\raw_data.csv
clean data path: C:\Users\Usuario\OneDrive\Documentos\Proyectos Personales\Data Science\Public Portfolio Data Science\241117 Telco Customer Churn\data\clean_data.csv
model path C:\Users\Usuario\OneDrive\Documentos\Proyectos Personales\Data Science\Public Portfolio Data Science\241117 Telco Customer Churn\models\model.pkl
results path C:\Users\Usuario\OneDrive\Documentos\Proyectos Personales\Data Science\Public Portfolio Data Science\241117 Telco Customer Churn\results

## Preliminary EDA

### Data Loading

In [3]:
df = ut.load_data(cf.raw_data_path)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

### Basic Information

In [4]:
# Dataset size
print(f'Dimensions: {df.shape}')

# Statistical summary
df.describe()

Dimensions: (7043, 21)

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

### Uniqueness

### Missing Values

In [7]:
ut.missing_values_by_pivot(df, 'StreamingTV', return_type='percentage', percentage_base= 'total')

StreamingTV        No  No internet service  Yes
customerID        0.0                  0.0  0.0
gender            0.0                  0.0  0.0
SeniorCitizen     0.0                  0.0  0.0
Partner           0.0                  0.0  0.0
Dependents        0.0                  0.0  0.0
tenure            0.0                  0.0  0.0
PhoneService      0.0                  0.0  0.0
MultipleLines     0.0                  0.0  0.0
InternetService   0.0                  0.0  0.0
OnlineSecurity    0.0                  0.0  0.0
OnlineBackup      0.0                  0.0  0.0
DeviceProtection  0.0                  0.0  0.0
TechSupport       0.0                  0.0  0.0
StreamingTV       0.0                  0.0  0.0
StreamingMovies   0.0                  0.0  0.0
Contract          0.0                  0.0  0.0
PaperlessBilling  0.0                  0.0  0.0
PaymentMethod     0.0                  0.0  0.0
MonthlyCharges    0.0                  0.0  0.0
TotalCharges      0.0                  0.0  0.0
Churn             0.0                  0.0  0.0