# Exploratory Data Analysis

## Initial Settings

In [11]:
import sys
from pathlib import Path

# Ruta a la ra√≠z del proyecto
project_root = Path().resolve().parent
sys.path.append(str(project_root))

pd.options.display.max_columns = None

## Libraries and Dependencies

In [30]:
import src.utils as ut
import src.config as cf
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display

## Preliminary EDA

### Data Loading

In [ ]:
df = ut.load_data(cf.raw_data_path)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

### Basic Information

In [48]:
def clean_info(df):
    """
    Clean Summary of df containing:
    - Column name
    - Data type
    - Non-null percetage values
    - Null percetage values
    - Unique values

    Parameters:
        df (pd.DataFrame): DataFrame to analize

    Returns:
        pd.DataFrame: Summarized dataframe
    """
    summary = pd.DataFrame({
        "Column": df.columns,
        "Non-Null Count": df.notnull().sum(),
        "Missing %": df.isnull().mean() * 100,
        "Unique Values": df.nunique(),
        "Data Type": df.dtypes
    })

    summary = summary.sort_values(by="Missing %", ascending=False).reset_index(drop=True)

    summary["Missing %"] = summary["Missing %"].round(2)
    
    display(summary)

In [41]:
# Dataset size
print(f'Dimensions: {df.shape}')

# Statistical summary
df.describe()

Dimensions: (7043, 21)

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [49]:
clean_info(df)

              Column  Non-Null Count  Missing %  Unique Values Data Type
0         customerID            7043        0.0           7043    object
1   DeviceProtection            7043        0.0              3    object
2       TotalCharges            7043        0.0           6531    object
3     MonthlyCharges            7043        0.0           1585   float64
4      PaymentMethod            7043        0.0              4    object
5   PaperlessBilling            7043        0.0              2    object
6           Contract            7043        0.0              3    object
7    StreamingMovies            7043        0.0              3    object
8        StreamingTV            7043        0.0              3    object
9        TechSupport            7043        0.0              3    object
10      OnlineBackup            7043        0.0              3    object
11            gender            7043        0.0              2    object
12    OnlineSecurity            7043        0.0              3    object
13   InternetService            7043        0.0              3    object
14     MultipleLines            7043        0.0              3    object
15      PhoneService            7043        0.0              2    object
16            tenure            7043        0.0             73     int64
17        Dependents            7043        0.0              2    object
18           Partner            7043        0.0              2    object
19     SeniorCitizen            7043        0.0              2     int64
20             Churn            7043        0.0              2    object

### Uniqueness

In [ ]:
def uniqueness_categorical_columns(df, max_categories = 10):
    """
    Analyzes categorical columns showing:
    1. number of unique values
    2. porcentual distribution of categories
    
    Parameters:
        df (pd.DataFrame): DataFrame to analyze
    """
    categorical_cols = df.select_dtypes(include = 'object').columns
    
    for col in categorical_cols:
        print(f'--- Column: {col} ---')
        print(f'Unique values: {df[col].nunique()}')
        
        distribution = df[col].value_counts(normalize=True) * 100
        distribution_top = distribution.head(max_categories)
        
        # Create a table for clean visualization
        table = pd.DataFrame({
            'Category': distribution_top.index,
            'Percentage': distribution_top.values
        })
        
        display(table.style.format({'Percentage': "{:.2f}%"}))
        
        if len(distribution) > max_categories:
            print(f'... showing the top {max_categories} most common values')
        print("\n")

In [34]:
uniqueness_categorical_columns(df)

--- Columna: customerID ---
Unique values: 7043

... showing the top 10 most common values


--- Columna: gender ---
Unique values: 2

--- Columna: Partner ---
Unique values: 2

--- Columna: Dependents ---
Unique values: 2

--- Columna: PhoneService ---
Unique values: 2

--- Columna: MultipleLines ---
Unique values: 3

--- Columna: InternetService ---
Unique values: 3

--- Columna: OnlineSecurity ---
Unique values: 3

--- Columna: OnlineBackup ---
Unique values: 3

--- Columna: DeviceProtection ---
Unique values: 3

--- Columna: TechSupport ---
Unique values: 3

--- Columna: StreamingTV ---
Unique values: 3

--- Columna: StreamingMovies ---
Unique values: 3

--- Columna: Contract ---
Unique values: 3

--- Columna: PaperlessBilling ---
Unique values: 2

--- Columna: PaymentMethod ---
Unique values: 4

--- Columna: TotalCharges ---
Unique values: 6531

... showing the top 10 most common values


--- Columna: Churn ---
Unique values: 2

### Missing Values

In [ ]:
missing_percent = df.isnull().mean() * 100
print(missing_percent[missing_percent > 0]) # show only columns with missing values

Series([], dtype: float64)

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64